@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
/*CSS Reset*/
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
/*border: 0;*/  
/*font-size: 100%;*/ 
font: inherit;  
vertical-align: baseline;  
}

/*---- To make flexbox work correctly ----*/
* {
    box-sizing: border-box;
    max-width:100%;
    border: 1px solid red;
}
/*------ To make rems work ------*/
html {
    font-size: 62.5%;
}
/* ------ Mission/Features Page Styles: Mobile First ------ */
a {
    text-decoration: none;
    font-family: 'Zilla Slab', serif;
    font-size: 1.5rem;
    color: whitesmoke;
    padding: 0 .5rem;
}
a:hover {
    opacity: 75%;
}
/*--- MedCab logo ---*/
h2 {
    font-family: 'Comfortaa', cursive; 
    font-size: 3rem;
    color: whitesmoke;
    margin-left: .5rem;
    margin-top: .5rem;
} 
/*--- Page Headings ---*/
h1 {
    font-family: 'Bree Serif', serif;
    font-size: 6rem;
}
/*--- Footer MedCab Logo ---*/
h4 {
    font-family: 'Comfortaa', cursive; 
    font-size: 3rem;
    color: whitesmoke;
}
/*--- Header styles under 800px ---*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #26282C;
}
/*--- NavBar styles under 800px ---*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    padding: .5rem;
}
/*--- Styles under 800px ---*/
p, h5 {
    font-size: 2rem;
    margin: 2rem;
    font-family: 'Zilla Slab', serif;
}


/*--- Main is the block of text and main heading on each page ---*/
main {
    display: flex;
    flex-direction: column;
    align-self: center;
    color: #26282C;
    
}
/*--- Mission page main content ---*/
.mission-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    justify-content: center;
    background-image: url('../images/bud.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    height: 85vh;
    
}
/*--- Mission content gray box around text ---*/
.mission-content p {
    background-color: lightgray;
    opacity: 75%;
    color: black;
    border-radius: 10px;
    padding: 1rem 0;
}



.features-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    justify-content: center;
    height: 65vh;
}


/*--- Sign up and Log in buttons on Mission/Features ---*/
.main-buttons {
    display: flex;
    justify-content: center;  
}

.mission-buttons {
    display: flex;
    justify-content: center;  
    background-color: #26282C;
    padding-top: 1rem;
}

.main-button {
    padding: .5rem 3rem;
    width: 32%;
    margin: 1rem;
    background-color:blueviolet;
    border-radius: 10px;
    text-align: center;
}
/*--- Image on Mission page ---*/
/*.hero-image {
    height: 45vh;
    background: url('../images/rx.jpg');
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}*/
/*------Footer------*/
footer {
    background-color: #26282C;
    padding: .5rem;
}
.footer-logo {
    display: flex;
    justify-content: center;
}

/* ------ Features Page Styles ------ */
.the-features {
    background-color: #26282C;
    padding: 1rem 0;
    padding-top: 3rem;
}
/*--- Container for Circular Images with captions ---*/
.box {
    color: whitesmoke;
    text-align: center;
    align-items: center;
}
/*--- Circular Images ---*/
.img1, .img2, .img3 {
    border-radius: 50%;  
    width: 50%;
}



/* ------ Breakpoints Styles ------ */

@media (min-width: 500px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }
    h2 {
        margin-left: 3rem;
    }
    nav {
        margin-right: 3rem;
    }
    .main-content {
        height: 65vh;
    }
    .hero-image {
        height: 50vh;
    }
    .mission-content h1 {
        margin-bottom: 5rem;
    }
}

@media (min-width: 800px) {
    header, footer {
        padding: 2rem 0;
    }
    .main-content {
        height: 50vh;
    }
    .the-features {
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .hero-image {
        height: 75vh;
    }
    .mission-content h1 {
        margin-bottom: 10rem; 
    }
}

@media (min-width: 1024px) {
    .main-content {
        height: 85vh;
    }
    
    h1 {
        font-size: 8rem;
        
    }
    .mission-content h1 {
        margin-bottom: 15rem;
    }
    p {
        font-size: 3rem;
        width: 80%;
        align-self: center;
    }
    .main-button {
        width: 20%;
    }  
    .hero-image {
        height: 90vh;
    }
}

@media (min-width: 1550px) {
    .mission-content h1 {
        font-size: 10rem;
        margin-bottom: 20rem
    }
    p{
        font-size: 4rem
    }
}




