@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 62.5%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a:hover {
    opacity: 75%;
}


/* hex color code */


/* CSS HEX */


/* --maximum-yellow-red: #ffbc42ff;
--dark-purple: #2f243aff;
--dark-sky-blue: #86bbd8ff;
--granny-smith-apple: #9ee493ff;
--british-racing-green: #214e34ff; */


/* font imports */

h1 {
    font-family: 'Comfortaa', cursive;
    color: #214e34ff;
    font-size: 5rem;
}


/* @supports (-webkit-text-stroke: 1px #214e34ff) {
    h1 {
        -webkit-text-stroke: 1px #214e34ff;
        -webkit-text-fill-color: #ffbc42ff;
    }
} */

p,
a {
    font-family: 'Zilla Slab', serif;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bree Serif', serif;
}

a {
    text-decoration: none;
}

p {
    text-align: center;
}


/* header style */

header {
    background-color: #2f243aff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: #ffbc42ff;
    font-size: 1.3rem;
}

header h3 {
    color: #ffbc42ff;
    font-size: 1.7rem;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    width: 45%;
    /* border: 1px solid red; */
}

.welcomeSection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
}

.welcomeSection .left {
    background-image: url("https://images.unsplash.com/photo-1580281658223-9b93f18ae9ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.welcomeSection .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    /* border: 1px solid red; */
}

.welcomeSection .right nav {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid blue; */
}

.welcomeSection .right nav a {
    color: #214e34ff;
}

.welcomeSection .right span {
    border-left: 1px solid #214e34ff;
}

.welcomeSection .right .search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.appFeatures {
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    width: 80%;
    margin: 10px auto;
}

.appFeatures .circle img {
    border-radius: 50%;
    width: 50%;
}

.appFeatures .circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    /* border: 1px solid blue; */
}


/* fix nav at 900px styles */

@media (max-width: 900px) {
    header nav {
        width: 55%;
    }
    .welcomeSection .left h1 {
        font-size: 3.5rem;
    }
}


/* tablet styles */

@media (max-width: 800px) {
    header nav {
        width: 60%;
    }
    header nav a {
        font-size: 1rem;
    }
    .welcomeSection .left h1 {
        font-size: 3rem;
    }
}


/* fix feature pile up at 700px */

@media (max-width: 700px) {
    .appFeatures .circle h4 {
        font-size: .8rem;
    }
    .appFeatures .circle p {
        font-size: .6rem;
    }
}


/* mobile styles */

@media (max-width: 500px) {
    header nav a {
        font-size: .7rem;
    }
    .welcomeSection {
        flex-direction: column;
    }
    .welcomeSection .left {
        width: 100%;
        background-position: 50% 35%;
    }
    .welcomeSection .left h1 {
        font-size: 2rem;
    }
    .appFeatures {
        flex-direction: column;
        align-items: center;
        /* border: 1px solid red; */
    }
    .appFeatures .circle {
        /* border: 1px solid blue; */
        margin: 10px 0;
        width: 75%;
    }
}


/* About the team style */

.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 20px 5px; */
    /* border: 1px solid red; */
}

.aboutContainer .title {
    /* border: 1px solid red; */
}

.workers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    /* border: 1px solid red; */
}

.workerCard {
    width: 25%;
    /* border: 1px solid red; */
}

.workerCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workerCard img {
    width: 25%;
}

.teamLead {
    justify-content: center;
}